emoji-picker{
  //   width: 100%;
    max-height: 250px;
  //  --background: var(--dark-mode-background-color);
   --emoji-size: 1rem;
    --emoji-padding:.3rem;
    --num-columns: 6;
  //   --input-font-color:var(--dark-mode-gray);
  //   --input-border-color:var(--dark-mode-background-color);
  }
 