$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;
$xxl: 1600px;
$xxxl:2560px;
$xxxxl:3840px;
.mt-half {
	margin-top: 0.5rem !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt-1 {
	margin-top: 1rem !important;
}

.mt-2 {
	margin-top: 2rem !important;
}

.mt-3 {
	margin-top: 3rem !important;
}

.mt-4 {
	margin-top: 4rem !important;
}

.mt-5 {
	margin-top: 5rem !important;
}

.mb-half {
	margin-bottom: 0.5rem !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-1 {
	margin-bottom: 1rem !important;
}

.mb-2 {
	margin-bottom: 2rem !important;
}

.mb-3 {
	margin-bottom: 3rem !important;
}

.mb-4 {
	margin-bottom: 4rem !important;
}

.mb-5 {
	margin-bottom: 5rem !important;
}

.ant-form-vertical {
	.ant-form-item-label {
		padding-bottom: 0 !important;
	}

	.ant-form-item {
		margin-bottom: 0.5rem;
	}
}
.is-circle {
	border-radius: 50% !important;
}
.width-100 {
	width: 100% !important;
}

.grecaptcha-badge {
	display: none !important;
}
.filter-invert-1 {
	filter: invert(1) !important;
}